<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="ParentTable" value="City" />
		<add key="ChildTable" value="Landmark" />
		<add key="ParentTableFKColumn" value="CityName" />
		<add key="ChildTableFKColumn" value="CityName" />
		
		<!--
		<add key="ParentTable" value="Country" />
		<add key="ChildTable" value="City" />
		<add key="ParentTableFKColumn" value="CountryName" />
		<add key="ChildTableFKColumn" value="CountryName" />
		-->
	</appSettings>
</configuration>



<!--
		<add key="ParentTable" value="City" />
		<add key="ChildTable" value="Landmark" />
		<add key="ParentTableFKColumn" value="CityName" />
		<add key="ChildTableFKColumn" value="CityName" />
-->

<!--
		<add key="ParentTable" value="Country" />
		<add key="ChildTable" value="City" />
		<add key="ParentTableFKColumn" value="CountryName" />
		<add key="ChildTableFKColumn" value="CountryName" />
-->

